version: '3.9'

services:
  broker:
    image: eclipse-mosquitto:2
    container_name: mosquitto_real
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf
    restart: unless-stopped

  frontend:
    build: ./Frontend
    container_name: frontend_real
    ports:
      - "8080:80"
    depends_on:
      - broker
    restart: unless-stopped
